[Unit]
Description=SC4S Manager local control socket

[Socket]
ListenStream=/run/sc4s-manager/control.sock
SocketUser=sc4s-manager
SocketGroup=sc4s-manager
SocketMode=0660
DirectoryMode=0750
RemoveOnStop=true

[Install]
WantedBy=sockets.target
